  .hide{
    display: none;
  }
  .rb-calendar {
      background-color: #ddd;
      box-shadow: 0 3px 10px #999;
      border: 1px solid #aaa;
      z-index: 1010;
  }
  .rb-calendar .rb-calendarTitle {
      background-color: #666;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
      font-weight: 700
  }
  .rb-calendar .rb-monthTable {
      float: left;
      border-collapse: collapse;
      font-size: 14px;
      margin: 4px;
      border: 0;
      margin-top: 0
  }
  .rb-calendar .rb-monthTable.mid {
      margin-left: 0;
      margin-right: 0
  }
  .rb-calendar .rb-monthTable.last {
      margin-left: 0
  }
  .rb-calendar .rb-monthTable.last.first {
      margin-left: 4px
  }
  .rb-calendar .rb-monthTable .rb-monthHeader td {
      border: 0;
      height: 40px
  }
  .rb-calendar .rb-monthTable .rb-monthHeader td.monthTitle {
      font-weight: 700;
      font-size: 15px
  }
  .rb-calendar .rb-monthTable .rb-monthHeader td button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      color: #000;
      display: none;
      padding: 10px
  }
  .rb-calendar .rb-monthTable.first .rb-monthHeader td.prev button,
  .rb-calendar .rb-monthTable.last .rb-monthHeader td.next button {
      display: block
  }
  .rb-calendar .rb-monthTable.mid .rb-monthHeader td.next button,
  .rb-monthTable.mid .rb-monthHeader td.prev button {
      display: none
  }
  .rb-calendar .rb-monthTable tr th {
      font-weight: 400;
      height: 35px;
      border: 0;
      font-size: 12px
  }
  .rb-calendar .rb-monthTable tr td {
      width: 40px;
      height: 40px;
      text-align: center;
      vertical-align: middle;
      color: #666;
      border: 1px solid #eee
  }
  .rb-calendar .rb-monthTable tr td.past {
      color: #ccc;
      cursor: default
  }
  .rb-calendar .rb-monthTable tr td.wd {
      cursor: pointer
  }
  .rb-calendar .rb-monthTable tr td.we {
      color: #D84E55;
      cursor: pointer
  }
  .rb-calendar .rb-monthTable tr td.tdy {
      color: #008;
      cursor: pointer
  }
  .rb-calendar .rb-monthTable tr td.day.current {
      background-color: #D84E55;
      color: #fff;
      cursor: pointer
  }
  .rb-calendar .rb-monthTable tr td.day {
      background-color: #fff
  }
  .rb-calendar .rb-monthTable tr td.current:hover,
  .rb-calendar .rb-monthTable tr td.tdy:hover,
  .rb-calendar .rb-monthTable tr td.wd:hover,
  .rb-calendar .rb-monthTable tr td.we:hover {
      background-color: #D84E55;
      color: #fff
  }
  .rb-calendar select{
    color: #666;
  }